/* Footer design */
#footer {
  background-color: #2E2F3B;
  color: white;
  padding: 30px;
}

#footer .fa {
  color: white;
  transition: all 400ms;
}

#footer .fa:hover {
  color: gold;
}

#footer .fa {
  margin: 0 20px 0 0;
}
