<div class="text-center">
<ul class= "list-inline">
  <li>
    <h3>Team member 1</h3>
  <%= image_tag "vallier.jpg", class: "avatar-overlarge" %>
  </li>
  <li>
    <h3>team member 2</h3>
  <%= image_tag "vallier.jpg", class: "avatar-overlarge" %>
  </li>
</ul>

Contact us:

<p>Mail me at <%= mail_to 'vallieradam@gmail.com', "vallieradam@gmail.com" %></p>
</div>

